In [19]:
import sqlite3
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

# Set visual style
sns.set_theme(style="whitegrid")
%matplotlib inline

print("Libraries loaded successfully!")

Libraries loaded successfully!

In [73]:
import sqlite3
import pandas as pd

# --- Display options: remove truncation ---
pd.set_option('display.max_colwidth', None)     # show full column content
pd.set_option('display.max_columns', None)      # show all columns
pd.set_option('display.width', None)            # avoid wrapping
pd.set_option('display.max_rows', None)         # optional: show all rows

# --- Load DB ---
db_path = 'user_activity.db'
conn = sqlite3.connect(db_path)

query = "SELECT * FROM activity_logs ORDER BY timestamp DESC"
df = pd.read_sql_query(query, conn)

conn.close()

print(f"Total Rows: {len(df)}")
df.head()     # <- will now display full JSON, untruncated

Total Rows: 183

    id                          user_did                   timestamp     action_type                input_text moderation_mode                                                                                          metadata_json
0  183  did:plc:2vhnujzchm3cfrbccid6fram  2025-12-03 15:09:22.673276    POPUP_CLOSED                                  STANDARD           {"duration_ms": 64796, "popup_session_id": "did:plc:2vhnujzchm3cfrbccid6fram_1764774497558"}
1  182  did:plc:2vhnujzchm3cfrbccid6fram  2025-12-03 15:08:29.677937    POPUP_CLOSED                                  STANDARD           {"duration_ms": 12111, "popup_session_id": "did:plc:2vhnujzchm3cfrbccid6fram_1764774497558"}
2  181  did:plc:2vhnujzchm3cfrbccid6fram  2025-12-03 15:08:17.898468    POPUP_OPENED                                  STANDARD  {"timestamp_ms": 1764774497558, "popup_session_id": "did:plc:2vhnujzchm3cfrbccid6fram_1764774497558"}
3  180  did:plc:2vhnujzchm3cfrbccid6fram  2025-12-03 14:00:12.983323  DRAFT_AUTOSAVE                        a         STANDARD                                                                                          {"length": 3}
4  179  did:plc:2vhnujzchm3cfrbccid6fram  2025-12-03 13:59:10.968073  DRAFT_AUTOSAVE  hello hello hello hello         STANDARD                                                                                         {"length": 24}